<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.township.manager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddSecurityDeskActivity"
            android:label="Add Desk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ServiceVendorActivity" />
        <activity
            android:name=".AddServiceVendorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddSecurityPersonnelActivity"
            android:label="Add Security"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecurityActivity"
            android:label="Security"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisitorHistorySecurityContainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OneTimeFeeDetailsListActivity"
            android:label="One-time Payment List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResidentBookingHistoryActivity"
            android:label="Booking History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AmenityDetailsActivity"
            android:label="Amenity Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MembershipDetailsActivity"
            android:label="Membership Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentForMaintenance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaintenanceAdminContainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddMaintenanceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComplaintsResidentContainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticeBoardCommentActivity"
            android:label="Comments"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationSuccessfulActivity"
            android:parentActivityName=".LoginScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullScreenImageViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AmenitiesAdminContainerActivity"
            android:label="Amenities"
            android:parentActivityName=".AdminHomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrationPaymentDetailsActivity" />
        <activity
            android:name=".AddNoticeAdminActivity"
            android:label="New Notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterComplaintActivity"
            android:label="Register Complaint"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationStepTwoStatusActivity"
            android:label="Application Status"
            android:parentActivityName=".RegistrationStepsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationStepsActivity"
            android:label="Registration Steps"
            android:parentActivityName=".LoginScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:parentActivityName=".LoginScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationStepTwoActivity"
            android:label="Society Details"
            android:parentActivityName=".RegistrationStepsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapsActivityStepOne"
            android:label="@string/title_activity_maps_step_one" />
        <activity
            android:name=".LoginScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationStepOneActivity"
            android:label="Society Details"
            android:parentActivityName=".RegistrationStepsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminHomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".ResidentHomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".SecurityHomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" /> <!-- <activity -->
        <!-- android:name=".SecurityActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>